/* ui-select
------------------------------------------------------------ */
.ui-select {
	position: relative;
	color: #555;
	text-align: left;
	display: inline-block;
	height: 20px;
	vertical-align: middle;
}

	/* セレクト
------------------------------------------------------------ */
	.ui-select-select {
		position: relative;
		margin: 0;
		padding-left: 3px;
		background-color: #eaeaea;
		border: solid 1px #888;
		width: 100px;
		height: 18px;
		line-height: 18px;
		border-radius: 4px;
		font-size: 90%;
		cursor: pointer;
		overflow: hidden;
		-moz-user-select:-moz-none;
		-ms-user-select:none;
		-webkit-user-select:none;
		user-select:none;
	}
	.ui-select-select:hover {
		background-color: #f5f5f5;
		border-style: outset;
	}
	.ui-select-select:active {
		background-color: #ddd;
		border-style: inset;
	}
	
	.ui-select-select.ui-select-open {
		background-color: #edc;
	}
	
	/* セレクトアイコン
------------------------------------------------------------ */
	.ui-select-icon {
		position: absolute;
		right: 3px;
		top: -1px;
		width: 13px;
		height: 15px;
		color: #79A;
		font-size: 80%;
	}
	
	.ui-select-select:hover .ui-select-icon {
		color: #9BC;
	}
	
	/* リスト
------------------------------------------------------------ */
	.ui-select-list {
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: auto;
		width: 405px;
		background-color: #ccc;
		border: solid 1px #999;
		min-height: 50px;
		max-height: 500px;
		cursor: default;
		display: none;
		z-index: 3000;
		
		-moz-user-select:-moz-none;
		-ms-user-select:none;
		-webkit-user-select:none;
		user-select:none;
		
		-webkit-box-shadow: 0px 8px 17px 0 rgba(0,0,0,0.2), 0px 6px 20px 0 rgba(0,0,0,0.19);
		box-shadow: 0px 8px 17px 0 rgba(0,0,0,0.2), 0px 6px 20px 0 rgba(0,0,0,0.19);
	}
	
		/* グループ
------------------------------------------------------------ */
		.ui-select-wrapper {
			margin: 2px 0 3px 1px;
			padding: 0;
		}
		
		.ui-select-group {
			margin: 2px 0 3px 1px;
			padding: 0;
		}
		
			/* タイプ
------------------------------------------------------------ */
			.ui-select-type {
				height: 18px;
				width: 43%;
				padding: 0 7px;
				margin: 0 0 2px 4px;
				background-color: #cacaea;
				line-height: 18px;
				border: solid 1px #88a;
				border-radius: 7px;
				font-size: 100%;
				font-weight: bold;
				color: #333;
				overflow: hidden;
			}
			
			/* オプション
------------------------------------------------------------ */
			.ui-select-options {
				list-style: none;
				margin: 0;
				padding: 2px;
				overflow: hidden;
				font-size: 90%;
			}
			
				.ui-select-options li {
					color: #000;
					background-color: #eee;
					border: solid 1px #fff;
					margin: 0 1px 1px 0;
					padding-left: 3px;
					width: 120px;
					height: 18px;
					line-height: 18px;
					float: left;
					cursor: pointer;
					overflow: hidden;
				}
				
				.ui-select-options li:hover {
					border-color: #ccc;
					background-color: #ddd;
				}
				
				.ui-select-options li.ui-select-selected {
					border-color: #789;
					background-color: #d5d5d5;
				}
				
				.ui-select-options li img {
					vertical-align: top;
				}
				
		/* ページ送り
------------------------------------------------------------ */
		.ui-select-page-form {
			margin: 7px 0 7px 0;
			padding: 0;
			text-align: center;
		}
			.ui-select-page-text {
				display: inline-block;
				width: 50px;
				height: 18px;
				line-height: 18px;
				color: #000;
				background-color: #eee;
			}
			.ui-select-page-left,
			.ui-select-page-right {
				display: inline-block;
				width: 60px;
				height: 20px;
				line-height: 20px;
				color: #000;
				background-color: #eee;
				border: solid 1px #333;
				margin: 0 5px 0 5px;
				text-align: center;
				cursor: pointer;
			}
			.ui-select-page-left:hover,
			.ui-select-page-right:hover {
				background-color: #ddd;
			}
			.ui-select-page-left:active,
			.ui-select-page-right:active {
				background-color: #ccc;
			}
			
			.ui-select-page-left.ui-select-page-disable,
			.ui-select-page-right.ui-select-page-disable {
				visibility: hidden;
			}
		
		
		/* パネル
------------------------------------------------------------ */
		.ui-select-list.ui-select-panel-view .ui-select-options li {
			width: 50px;
			height: 48px;
			text-align: center;
		}
		
		.ui-select-list.ui-select-panel-view .ui-select-options li img {
			display: block;
			width: 26px;
			heght: 26px;
			margin: 2px auto;
			opacity: 0.9;
		}
		
		
